body {
    background-image:url(../bingoassets/images/bingo2.jpeg);
   background-size: cover;
   max-width: 100vw;
   min-height: 100vh;
   background-position: 60% 80%;
    color: whitesmoke;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    nav {
      margin-bottom: 10%;
      color: white;
    }
    table {
      border-collapse: collapse;
    }
    h1, th {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    h1 {
      font-size: 21px;
    }
    th, td{
      padding: 25px;
      border: 5px white solid;
      text-align: center;
      width: 20%;
    }
    .free {
      background-color: red;
    }