

/* HIGH LOW TITLE */
.game-title {
    font-size: 6rem;
    display: flex;
    justify-content: center;
    letter-spacing: 10px;
    margin-top: 2%;
}

/* CONTAINS THE WHOLE GAME */
.game-container{
    margin: 2% 2%;
    min-height: 80vh;
    /* border: 2px solid black; */
}

/* Dealer's Card h2 */
.dealer-title,
.player-title {
    display: flex;
    width: 94.5vw;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.dealer-title h2,
.player-title h2{
    font-size: 3rem;
    margin: 0;
}


/* DEALER SECTION -- directions and card img */
.dealer-section{
    display: flex;
    margin: 3% 0;
}

.direction {
    
    margin-left: 2%;
    width: 15vw;
    padding-top: 50px;
}

.dealer-card {
    width: 60vw;
    min-height: 300px;
    display: flex;
    justify-content: center;
    
}

.card-img{
    
    min-height: 300px;
    max-width: 230px;
    /* background-image: url(https://cdn.pixabay.com/photo/2013/07/13/13/45/playing-card-161489_960_720.png); */
    background-repeat: no-repeat;
    background-size: 220px;
}

/* PLAYER SECTION */
.player-section {
    display: flex;
    margin: 3% 0;
    flex-direction: column;
}

.player-card {
    width: 94.5vw;
    min-height: 300px;
    display: flex;
    justify-content: center;

    
}

.player-card-img{
    width: 230px;
    min-height: 350px;
    max-width: 230px;
    /* background-image: url(https://cdn.pixabay.com/photo/2015/08/11/11/57/diamonds-884199_960_720.png); */
    background-repeat: no-repeat;
    background-size: 220px;
}

.draw-card{
    width: 94.5vw;
    height: 50px;
    /* border: 2px solid brown; */
    display: flex;
    justify-content: center;
}

.draw-card button {
    width: 180px;
    height: 50px;
}

/* BUTTON/SCORE LAYOUT */

.button-layout{
    width: 94.5vw;
    min-height: 100px;
    /* border: 2px solid green; */
    display: flex;
}

.score {
    height: 100px;
    width: 27.5vw;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.score p {
    font-size: 3rem;
}

.higher-lower-card{
    width: 40vw;
    height: 100px;
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}

.higher-lower-card button{
    width: 200px;
    height: 50px;
}

.win-lose {
    width: 27.5vw;
    height: 100px;
    /* border: 2px solid purple; */
    display: flex;
    justify-content: center;
}

.win-lose p {
    font-size: 3rem;
}



   



