#body{
    background: url("./images/kvnga-vBWsG91aR_U-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}

#title{
    background-color: black;
}

#slots{
    background-color: black;
    border: solid;
    border-radius: 1rem;
    max-width: 80rem;
}

.slotImg{
    border: solid;
    border-radius: 1rem;
}

