#body{
    background: url("./images/kvnga-vBWsG91aR_U-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
}

#title{
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

#slots{
    background-color: black;
    border: solid;
    border-radius: 1rem;
}

.slotImg{
    border: solid;
    border-radius: 1rem;
}

